html {
    font-size: 16px;
}
body {
    color: #000000;
}
ul, li {
    padding: 0;
}
/* 目录 */
.ulCate {
  padding-left: 10px;
  list-style:none;
}
a {
    text-decoration: none;
    color: #6A3F30;
}
a:active, a:hover {
    text-decoration: underline;
}
a:visited {
    color: #23978e;
}

.ulTexts_Cate {
    display:none;
  list-style:none;
  border: solid 1px aliceblue;
}
.liText {
    font-size: 15px;
    padding: 5px 0  5px 5px;
    border-bottom: solid 1px aliceblue;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.liText > span:last-child {
    /* display: block; */
    font-size: 12px;
    color: #7C7C7C;
}
/* 文章 */
body > h4 {
    margin: 0 0 6px 0;
}
body > h1 {
    margin: 10px 0 8px 0;
    /* color: #6A3F30; */
    font-size: 24px;
}
body > div > .pubtime {
    font-size: 13px;
}
body > hr {
    margin: 24px 0 5px;
}
body > div:nth-child(2) a,
body > div:nth-child(6) a,
body > div:nth-child(9) a {
    color: #6A3F30;
}

/* 文章正文 */
body > * {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 900px;
}

img {
    max-width: 100%;
}
.articalContent {
    margin-top: 2px;
    padding: 5px 0 20px 0;
    /*处理西文*/
    word-break: break-all;
    /*处理中日韩*/
    line-break: anywhere;
}
pre {
    white-space: normal;
}
.articalContent [align=center] img {
    display: block;
    margin: 10px auto;
}
/* 文章-回复 */

.show-reply {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: seagreen;
    border: olivedrab dotted 1px;
}

#divReply {
    font-size: 14px;
    display: none;
}
#divReply > h2 {
    margin: 0;
}
#divReply > div:nth-child(2) {
    display: flex;
    align-items: center;
}
#divReply fieldset {
    border-color: aliceblue;
}
#divReply fieldset > div:first-child {
    margin-bottom: 6px;
}
#divReply fieldset > div:last-child {
    /* color: #7C7C7C; */
}

#divReply .divReplyIsHostTrue  .author{
    color:Red;
}
#divReply .author {
    font-weight:bold;
}
#divReply .pubtime{
    font-size:13px;
    /* color: #7C7C7C; */
}
.divReplyIsHostFalse, .divReplyIsHostTrue {
    /*处理西文*/
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    /*处理中日韩*/
    -ms-line-break: anywhere;
    -webkit-line-break: anywhere;
    line-break: anywhere;
    margin: 8px 0;
    overflow: auto;
}
.showHostOnly .divReplyIsHostFalse {
    display: none;
}
/* 文章-翻页 */
a.page-prev, a.page-next {
    display: block;
}
a.page-prev.cat, a.page-next.cat {
    display: none;
}

/* 特殊样式 */
@media screen and (max-width: 960px){
    font[size="7"] {
        font-size: 33px;
    }
    font[size="5"] {
        font-size: 24px;
    }  
}
